.uploadcare--widget__text {}

.row {
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding-left: 20px;
  padding-right: 10px;


}

.column1 {
  flex-direction: column;
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #E9E5DD;
  padding: 10px;
  grid-template-columns: 1fr 3fr;

}

.grid-item {
  background-color: #512DA8;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.canvas-item {
  padding: 8px;
  text-align: center;
  font-size: 14px;
  background-color: #512DA8
}


.item2 {
  display: grid;
  height: 60vh;
  margin: 0 auto;
  width: 50vw;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1
}


@media (min-width: 320px) and (max-width: 480px) {

  .item2 {

    height: 80vh;
    width: 80vw;

  }

}






.uploadcare--widget__button_type_open {
  background: transparent;
  font-size: 12px;
  color: #00BCD4;

}

.uploadcare--widget__button:hover {
  background-color: transparent;
  font-size: 12px;
  color: white;


}

.uploadcare--widget {
  display: inline-block;
  vertical-align: super;
}




/* .uploadcare--widget__button, .uploadcare--widget__button:hover {
	padding: 20px;
	background-color: ;
	border: 3px dashed #2c003a;
	border-radius: 0;
	font-family: Sans-serif;
	font-weight: 800;
}

.uploadcare--widget__button:hover {
	background-color: #000; */